<?xml version="1.0"?>
<!--
/**
 * @copyright Copyright (c) 2019 www.tigren.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Tigren_RedisManager" setup_version="1.1.1">
    </module>
</config>
