<?xml version="1.0"?>
<!--
/**
 * @copyright Copyright (c) 2019 www.tigren.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="adminhtml_cache_flush_system">
        <observer name="tigren_redis_manager_flush_system_pagecache"
                  instance="Tigren\RedisManager\Observer\FlushAllCache"/>
    </event>
    <event name="adminhtml_cache_flush_all">
        <observer name="tigren_redis_manager_magento_all_pagecache"
                  instance="Tigren\RedisManager\Observer\FlushAllCache"/>
    </event>
</config>
