<?xml version="1.0"?>
<!--
/**
 * @copyright Copyright (c) 2019 www.tigren.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/App/etc/routes.xsd">
    <router id="admin">
        <route id="redismanager" frontName="redismanager">
            <module name="Tigren_RedisManager"/>
        </route>
    </router>
</config>